@model Twitter.Web.Models.ViewModels.TweetViewModel
<div class="jumbotron">
    <div class="row modal-content">
        <div class="col-md-3 modal-header">
            <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.UserProfilePicture))" class="img-responsive img-thumbnail custom-profile-image"/>
            @Model.UserName
        </div>
        <div class="col-md-3 modal-header">@Model.UserEmail</div>
        <div class="col-md-6 modal-header">@Model.TweetedAt</div>
        <div class="col-md-11">@Model.Content</div>
        <div class="col-md-12 modal-footer">
            <div class="col-md-1">
                <a class="badge" href="@Url.Action("Favourite", "Tweets")">
                    <span class="glyphicon glyphicon-star"></span><span>@Model.FavouritesCount</span>
                </a>
            </div>
            <div class="col-md-1">
                @Ajax.ActionLink(" ", "ReTweet", "Tweets", null, new AjaxOptions { UpdateTargetId = "retweetContainer", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "OnAjaxRequestCompleteShowRetweet" }, new { @class = "glyphicon glyphicon-retweet badge", id = "retweetBtn" })
            </div>
            <div class="col-md-1">
                <a class="badge" href="@Url.Action("Reply", "Tweets")">
                    <span class="glyphicon glyphicon-share-alt"></span></a>
            </div>
            <div class="col-md-1">
                <a class="badge" href="@Url.Action("Share", "Tweets")">
                    <span class="glyphicon glyphicon-share"></span></a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/customScripts")
}